@media screen and (min-width : 320px) {

}
@media screen and (min-width: 680px) {
}
@media creen and (min-width : 1024px) {
}

/*nav ul{
  list-style: none;
}

nav ul li{
  display: inline;
}*/

.hidden{
  display: none;
}
